#header {
        width: 100%;
        background: #ddd;
        border: 1px solid #000;
        margin-top: 2px;
        margin-right: 0;
        margin-bottom: 2px;
        margin-left: 2px;;
        margin-right: 0;
}

#footer {
        position:absolute;
        z-index:10;
        height: 1.4em;
        background: #ddd;
        clear: both;
}

#header {
	top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop : document.body.scrollTop)
} 
#wrap, 
#content-wrap {
	height:100%;
} 
#content {
	padding: 1em 1em;
	margin-bottom: 1.4em;
} 
#footer {
	top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop +(documentElement.clientHeight-this.clientHeight) : document.body.scrollTop +(document.body.clientHeight-this.clientHeight));
} 